body {
  margin: 0;
  font-family: Arial;
  background: #121212;
  color: white;
}

header {
  padding: 14px;
  background: #1f1f1f;
  position: sticky;
  top: 0;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 8px;
  border: none;
  margin-top: 10px;
}

#categories {
  display: flex;
  gap: 8px;
  overflow-x: auto;
  padding: 10px;
}

.cat {
  padding: 8px 14px;
  background: #2a2a2a;
  border-radius: 20px;
  cursor: pointer;
  white-space: nowrap;
}

.cat.active {
  background: #00c853;
  color: black;
}

#apps {
  padding: 10px;
}

.card {
  background: #1f1f1f;
  border-radius: 14px;
  padding: 12px;
  display: flex;
  gap: 12px;
  margin-bottom: 12px;
}

.card img {
  width: 70px;
  height: 70px;
  border-radius: 12px;
}

.info {
  flex: 1;
}

.title {
  font-size: 18px;
  font-weight: bold;
}

.meta {
  font-size: 12px;
  opacity: 0.8;
}

button {
  margin-top: 6px;
  padding: 8px 14px;
  border: none;
  border-radius: 8px;
  background: #00c853;
  font-weight: bold;
}
